.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  height: 100vh;
}

.loader {
  align-items: flex-start;
}

.loader--text {
  font-size: 6.4rem;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  color: #f3f3f3;
}
