@import "/css/noisy-background.css";
@import "/css/navbar.css";
@import "/css/header.css";
@import "/css/utility-class.css";
@import "/css/loader-page.css";
@import "/css/cursor-circle.css";

/* GENERAL */

h1 {
  font-size: 8rem;
  font-weight: lighter;
  line-height: 1.35;
}

h4 {
  font-size: 3.2rem;
  font-weight: lighter;
}

img {
  transition: filter 0.5s;
}
